body {
    /* background: linear-gradient(to right top, #65dfc9, #96e9ff) */
    /* background-image: url("https://i.ibb.co/NnPYjR0/bg.png");
     */
    background-image: url("https://i.ibb.co/vBGc2PC/imageedit-6-3081312550.png");
    background-color: rgba(255,255,255,0.2);
  }

/* .is-2 {
    color: #fefefe;
} */
  
  .sender, .chat {
      display: flex;
      align-items: center;
  }
  
  #senderName {
      margin-left: 10px;
  }
  
  .box {
      background-color: rgba(255,255,255,0.4);
      border-radius: 40px;
      border-color: black;
      border-style: solid;
      border-width: 0.1px;
      zoom:75%;
  }
  
  .sms, .chat {
      background-color: rgba(255, 255, 255, 0.95);
      text-align: left;
      border-color: black;
      border-style: solid;
      border-width: 0.1px;
      zoom:100%;
  }
  
  .input {
      background-color: rgba(255, 255, 255, 0.95);
      color: #000000;
      border-color: black;
      border-style: solid;
      border-width: 0.1px;
      zoom:75%;
  }

  .button {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black!important;
    border-color: black !important;
    zoom:75%;
}

.button:hover {
  background-color: #BAF3FF !important; /* Green */
  color: black !important;
}
  
  /*
  TRYING TO IMPLEMENT A CUSTOM SCROLLBAR IN OUR WEBSITE
  CREDITS TO: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
  */
  /* width */
  #viewMessageBox::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Track */
  #viewMessageBox::-webkit-scrollbar-track {
      display: none;
  }
  
  /* Handle */
  #viewMessageBox::-webkit-scrollbar-thumb {
      border-radius:25px;
      background: rgba(252, 255, 242, 0.7);
  }
  
  /* Handle on hover */
  #viewMessageBox::-webkit-scrollbar-thumb:hover {
      background: rgba(252, 255, 242, 0.7);
  }
  
  /* HIDING SCROLLBAR
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
  */
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


#changeMode {
    background-color: rgba(255,255,255,0.7);
    border-radius: 25px;
    font-size: 1.1em;
}