body {
    background: linear-gradient(to right top, #65dfc9, #96e9ff)
  }
  
  .sender, .chat {
      display: flex;
      align-items: center;
  }
  
  #senderName {
      margin-left: 10px;
  }
  
  .box {
      background-color: rgba(255,255,255,0.2);
      border-radius: 40px;
  }
  
  .sms, .chat {
      background-color: rgba(255, 255, 255, 0.7);
      text-align: left;
  }
  
  .input {
      background-color: rgba(255, 255, 255, 0.7);
  }
  
  /*
  TRYING TO IMPLEMENT A CUSTOM SCROLLBAR IN OUR WEBSITE
  CREDITS TO: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
  */
  /* width */
  #viewMessageBox::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Track */
  #viewMessageBox::-webkit-scrollbar-track {
      display: none;
  }
  
  /* Handle */
  #viewMessageBox::-webkit-scrollbar-thumb {
      border-radius:25px;
      background: #AAA;
  }
  
  /* Handle on hover */
  #viewMessageBox::-webkit-scrollbar-thumb:hover {
      background: #666;
  }
  
  
  /* HIDING SCROLLBAR
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
  */
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }